<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleName</key>
    <string>UnCrackable Level 1</string>
    <key>DTXcode</key>
    <string>0821</string>
    <key>DTSDKName</key>
    <string>iphoneos10.2</string>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-120x20</string>
          <string>AppIcon-129x29</string>
          <string>AppIcon-140x40</string>
          <string>AppIcon-157x57</string>
          <string>AppIcon-160x60</string>
          <string>AppIcon-150x50</string>
          <string>AppIcon-172x72</string>
          <string>AppIcon-176x76</string>
          <string>AppIcon-183.5x83.5</string>
        </array>
      </dict>
    </dict>
    <key>DTSDKBuild</key>
    <string>14C89</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>BuildMachineOSBuild</key>
    <string>15G1212</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>CFBundleExecutable</key>
    <string>UnCrackable Level 1</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleIdentifier</key>
    <string>sg.vp.UnCrackable1</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>DTXcodeBuild</key>
    <string>8C1002</string>
    <key>DTPlatformVersion</key>
    <string>10.2</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CFBundleDisplayName</key>
    <string>UnCrackable1</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon-120x20</string>
          <string>AppIcon-129x29</string>
          <string>AppIcon-140x40</string>
          <string>AppIcon-157x57</string>
          <string>AppIcon-160x60</string>
        </array>
      </dict>
    </dict>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
      <integer>2</integer>
    </array>
    <key>DTPlatformBuild</key>
    <string>14C89</string>
  </dict>
</plist>
