<?xml version="1.0"?>
<configuration>
  <contextListener
    class="qa.justtestlah.log.ApplicationInfoEnricher" />
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%.-1level) %cyan(%C{0}:%M:%L) %highlight(%msg) %n
      </pattern>
    </encoder>
  </appender>

  <!-- Turning down the wiremock logging -->
  <logger name="org.apache.http.wire" level="WARN" />
    
  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="qa.justtestlah" level="info" />
</configuration>