<?xml version="1.0"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%cyan(%d{HH:mm:ss.SSS}) %highlight(%.-1level) %cyan(%C{0}:%M:%L) %highlight(%msg) %n</pattern>
    </encoder>
  </appender>

  <appender name="server" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} %yellow(%msg) %n</pattern>
    </encoder>
  </appender>

  <appender name="testlog" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%t %magenta(%d{HH:mm:ss.SSS} %msg) %n</pattern>
    </encoder>
  </appender>

  <root level="error">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="server" level="info" additivity="false">
    <appender-ref ref="server" />
  </logger>

  <logger name="testlog" level="info" additivity="false">
    <appender-ref ref="testlog" />
  </logger>

  <logger name="qa.justtestlah" level="info" />
</configuration>