name: Java CI

on: [push]

jobs:
  build:  
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        java: [ '10', '11', '12', '13', '14' ]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK ${{ matrix.java }}
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        architecture: x64
    - name: Build with Maven
      run: mvn -B package --file pom.xml
